/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@500&family=UnifrakturCook:wght@700&display=swap');
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  
    font-family:'UnifrakturCook', cursive; 
    background-image: url(./img/pexels-juan-vargas-5432190.jpg);
    object-fit: cover;
    
}

h1,p {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
   
}/*
header {
    height: 50rem;
    width: 60%;
}*/
div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
img {
    padding: 10px 0 20px 0;
    height: 80%;
    width: 80%;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    height: 60px;
    background-color: black;
    font-weight: bold;
    font-family:'UnifrakturCook', cursive; 
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width: 640px) { 
   body{
    max-width: 100%;
    background-image: url(./img/pexels-daniel-fernandez-6299164.jpg);
}
}